@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

/* TOPBAR */
#topbar{
    background-color: #EEEEEE;
}
.topp{
    color: #231caf;
    padding-top: 8px;
    font-family: inherit;
    font-weight: inherit;
    font-size:12px;
    font-style: inherit;
    padding-left: 25px;
}
/* TOPBAR */

/* NAVBAR */
.logo{
    width: 200px;
}
.navbar-nav{
    margin-left: auto !important;
}
.nav-link{

font-family: inherit;
font-weight: inherit;
text-transform: uppercase;
padding-right: 15px !important;
color: black !important;
font-size: 14px;
padding-top: 6px;
letter-spacing: 0.5px;
}

/* NAVBAR */

/* CAROUSEL */
#slider1{
    background-image: url("../assets/image/SLIDER2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: center;

}
#slider2{
    background-image: url("../assets/image/SLIDER1.jpeg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: center;

}
.carousel-inner{
    height: 600px !important;
}
.imgc{
    width: 18%;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 19px 5px #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#form{
    padding-bottom: 80px;
}
.carotitle{
    color: #FFFFFF;
    font-size: 19px;
    letter-spacing: 2.8px;
    text-shadow: 0px 0px 20px #1b2f90;
    padding-top: 20px;
}
.carot{
    color: #FFFFFF;
    font-family: 'Mate SC', serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 4.8px;
    text-shadow: 0px 0px 10px #162c90;
}
.pcaro{
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 4.5px;
    text-shadow: -15px 0px 27px #4054b2;
}
#bbtn{
    background-color: #041F9A !important;
    border-color: #041F9A !important;
    border-radius: 10px 10px 10px 10px !important;
    font-family: inherit;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-weight: 700;
margin-left: -10px;
}
#wbtn{
    fill: #4054B2;
    color: #4054B2;
    background-color: #FFFFFF;
    border-style: double;
    border-radius: 10px 10px 10px 10px;
    font-family: inherit;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
border-color: #ffffff !important;
margin-left: 30px;    
}
.fa-plane-departure {
    color: white;
}
.fa-ship{
    color: #041F9A;
}
.data{
    padding-top: 100px;
}
/* CAROUSEL */

/* FORM */
.datasc{
    padding-top: 60px;
    padding-left:61px;
}
.datascp{
    font-family: 'Work Sans', sans-serif;
color: gray;
font-size: 14px;
}
.datah{
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2.6px;
    font-weight: bold;
}
#carouselExampleFade{
    z-index: -999;
}
.carousel-inner2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 230px !important;
    padding-top: 15px !important;
}
/* FOrm */
.headsp{
    padding-top: 20px;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.headspa{
    margin-top: -10px;
    color: #6A6060;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;

}
#subbtn{
    margin-top: 30px;
}
.formc{
    background-color: rgba(212, 226, 233, 0.99);
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 45px;
    margin-left: 60px;
    margin-right: 23px;
    margin-top: -50px;
}
.heads{
    padding: 29px;
}
.fa-paper-plane{
    font-size: 32px;
    color: gray;
}
#exampleInputEmail1{
    width: 80% !important;
}
.form-select{
    width: 80%;
}
.form-floating>.form-control{
    width: 94%;
}
.formz{
    padding-left: 35px;
    padding-right: 26px;
}
.form-label{
    color: #555555 !important;
    font-weight: bold;
}
/* FORM */

/* WHAT */
#what{
    background-color: rgba(122, 122, 122, 0.1);
    padding-bottom: 60px;
}
.imgwhat{
    box-shadow: 0px 0px 14px 0px #4054b2;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
}
.titlewh{
    padding-top: 60px;
}
.bline{
width: 80px;
    border-bottom: 2px solid #EDCF2B;
    padding-bottom: 20px;
}
.whatp{
    font-family: inherit;
    font-weight: inherit;
    color: darkgray;
}
#it_row{
    margin-top: 60px;
}
/* WHAT */

/* SLIDER */
/* carousel */

/* SLIDER */
.img_footer{
    width: 61%;
    max-width: 52%;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 19px 0px #ffffff;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* service */
#hero{
    background-image: url("../assets/image/SLIDERBT.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
}
.h1s{
    text-align: center;
    padding-top: 200px;
    color: #FFFFFF;
    font-family: "Alegreya SC", Sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px #000000;
font-weight: bold;
}
.listul{
    list-style: none;
    margin-left: -28px;
}
.lin{
    display: inline-block;
    padding-right: 10px;
    font-weight: 500;
color: #54595f;
font-size: 14px;
margin-bottom: -32px
;
}
.fa-check{
    padding-right: 10px;
    font-size: 20px;

}
#parahero{
    padding-top: 80px;
    padding-bottom: 80px;
}
.innerd{
    width: 50%;
    display: block;
    margin: auto;
}
.ulz{
    padding-top: 20px;
    padding-bottom: 20px;
}
.spp{
    font-size: 14px;
color: #54595f;
line-height: 2;
font-family: inherit;
font-weight: 500;
}
.sppa{
    font-size: 14px;
    color: #54595f;
    line-height: 2;
    font-family: inherit;
    font-weight: 500;
margin-top: -12px;    
}
.h3s{
   font-size: 25px;
   font-weight: bold;
}
/* contact */
#contacta{
    background-image: url("../assets/image/SLIDERBT.jpg");
    height: auto;
    background-position: center;
    background-size: cover;
}
.con{
    padding: 80px 80px 80px 80px;
    border-radius: 50px 50px 50px 50px;
 background-color: rgba(34,34,40,0.74);
}
.h2con{
    color: #ffffff;
    font-family: "Playfair Display SC", Sans-serif;
    font-size: 49px;
    font-weight: bold;
    text-align: center;
}
.fa-envelope-open{
    color: #D26E15;
    font-size: 55px;
}
.ticc{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
}
.paracon{
    color: white;
    padding-top: 16pp;
    font-size: 15px;
}
#rmn{
    padding-top: 80px;
}
